/* your code here */
body,
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.wrapper {
	width: 900px;
	height: 100%;
	padding: 0px;
	margin: 20px;
}
header {
	height: 10%;
	width: 900px;
	text-align: center;
	size: 20%;
}
/*Columns Nav+Section*/
nav {
	width: 200px;
	height: 40%;
	float: left;
	padding: 2px;
}
section {
	width: 700px;
	height: 40%;
	float: left;
	padding: 2px;
}
/**************************************
DON'T CHANGE ANYTHING AFTER THIS LINE
**************************************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	border-radius: 3px;
}

header {
	padding: 10px 0;
}

nav,
section {
	padding: 100px 0;
}
