.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;

	border-radius: 3px;
	position: absolute;
}
/*Alignment for calendar holes*/
.calendar em {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
/*colouring for calendar holes*/
.calendar::before,
.calendar:after {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: rgb(0, 0, 0);
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
}
.calendar::before {
	left: 11px;
	top: -1px;
}
.calendar::after {
	right: 11px;
	top: -1px;
}
/*Calendar top rings*/
.calendar em::before,
.calendar em::after {
	content: "";
	float: left;
	margin: 10px;
	width: 4px;
	height: 14px;
	background: gray;
	z-index: 2;
	position: absolute;
	border-radius: 10px;
}
.calendar em::before {
	left: 3px;
	top: -20px;
}
.calendar em::after {
	right: 3px;
	top: -20px;
}
